# -------------------------------
# Terraform files
# -------------------------------

# Local .terraform directories
.terraform/

# Terraform state files
*.tfstate
*.tfstate.*

# Terraform plan output
*.tfplan

# Crash logs
crash.log
crash.*.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Lock info files
.terraform.tfstate.lock.info

# CLI configuration files
.terraformrc
terraform.rc

# Terraform variable files (may contain secrets)
*.tfvars
*.tfvars.json

# -------------------------------
# SSH keys / sensitive files
# -------------------------------

# Ignore private keys
*.pem

# -------------------------------
# Optional: OS / editor files
# -------------------------------

# Mac OS
.DS_Store

# Linux
*~
