# -------------------------------
# Terraform files
# -------------------------------
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.tfstate.lock.info
.terraformrc
terraform.rc
*.tfvars
*.tfvars.json

# -------------------------------
# SSH keys / sensitive files
# -------------------------------
*.pem

# -------------------------------
# OS / editor files
# -------------------------------
# Mac
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Linux / editor
*~
